1.Lead Qualification Agent/workflow_code.json
{
  "name": "Lead Qualification Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-lead",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1920,
        -128
      ],
      "id": "4c71bf56-6cca-4bf0-8dd5-a471626bea01",
      "name": "Webhook",
      "webhookId": "8e5d31a3-da09-4b1b-887f-75df07ae4e16"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"Name\": \"{{ $json.body.name }}\",\n  \"Email\": \"{{ $json.body.email }}\",\n  \"Company\": \"{{ $json.body.company }}\",\n  \"Message\": \"{{ $json.body.message }}\",\n  \"SubmittedAt\": \"{{ $now.setZone('Asia/Kolkata').toFormat('dd MMM yyyy, hh:mm:ss a') }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1712,
        -128
      ],
      "id": "8783dc16-f2e7-48ac-9c56-62a38555393e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Lead Details:\nName: {{ $json.Name }}\nEmail: {{ $json.Email }}\nCompany: {{ $json.Company }}\nMessage: {{ $json.Message }}\nSubmitted At: {{ $json.SubmittedAt }}\n\nQualify and score this lead following your instructions.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a B2B lead scoring analyst. Use search results only. Never guess.\n\nSEARCH FIRST — run both before scoring:\n1. \"<Company> company\"\n2. \"<Company> employees\"\n\nLEGITIMACY RULE — A WEBSITE ALONE = 0–5. NOT PROOF.\nLegitimacy points ONLY if search returns at least ONE of these:\n- Exact employee count (number, not range)\n- Exact founding year\n- Exact funding amount\n- News article naming the company\n- Verified office address\nIf none of these appear in results = legitimacy 0–5. No exceptions.\n\nSCORING:\na. Buying Intent 0–40 → message only\nb. Legitimacy    0–30 → one verified fact required | website only = 0–5\nc. Size/Fit      0–30 → search only | no hard data = 0–5\nhot=70–100 | warm=40–69 | cold=0–39\n\nREASONING: Copy paste the exact sentence from search that proves legitimacy. \nIf no exact sentence exists = write \"no verifiable data found. website alone is not proof.\"\n\nCall format_final_json_response(score, tier, reasoning) only. Never plain text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1504,
        -128
      ],
      "id": "de946e93-c2c4-492a-a55d-18a02c575593",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Exact Google search query from lead's Company name. One query per call. Run \"<Company> company\" first then \"<Company> employees\". Return raw results only. Never summarize or interpret.",
        "q": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Query__q_', ``, 'string') }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-serpapi.serpApiTool",
      "typeVersion": 1,
      "position": [
        -1504,
        128
      ],
      "id": "9b11d353-4ca7-4802-a2db-4ab4efa20d8f",
      "name": "Google search in SerpApi",
      "credentials": {
        "serpApi": {
          "id": "8tlhhQV45f0GklAY",
          "name": "SerpApi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"score\": 82,\n  \"tier\": \"hot\",\n  \"reasoning\": \"BrightPath Robotics is a funded warehouse-automation startup actively budgeting for this exact problem.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1360,
        96
      ],
      "id": "951d378c-51a2-4729-a934-947bab41b4e9",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8a079767-e509-4880-b5e6-e7867ba2bbd8",
              "leftValue": "={{ $json.output.tier }}",
              "rightValue": "=hot",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1152,
        -128
      ],
      "id": "561407cd-75fb-498c-843d-35db4795265c",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appAsanJ0KEArFSRO",
          "mode": "list",
          "cachedResultName": "Leads CRM",
          "cachedResultUrl": "https://airtable.com/appAsanJ0KEArFSRO"
        },
        "table": {
          "__rl": true,
          "value": "tblfWXRT4VJnU2b8S",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appAsanJ0KEArFSRO/tblfWXRT4VJnU2b8S"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Edit Fields').item.json.Name }}",
            "Email": "={{ $('Edit Fields').item.json.Email }}",
            "Company": "={{ $('Edit Fields').item.json.Company }}",
            "Reasoning": "={{ $('AI Agent').item.json.output.reasoning }}",
            "Score": "={{ $('AI Agent').item.json.output.score }}",
            "Tier": "={{ $('AI Agent').item.json.output.tier }}",
            "Submitted At": "={{ $('Edit Fields').item.json.SubmittedAt }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tier",
              "displayName": "Tier",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "hot",
                  "value": "hot"
                },
                {
                  "name": "warm",
                  "value": "warm"
                },
                {
                  "name": "cold",
                  "value": "cold"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reasoning",
              "displayName": "Reasoning",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Submitted At",
              "displayName": "Submitted At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        -672,
        -144
      ],
      "id": "42e6790b-3b74-48ee-8a1d-579f7e59ed44",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "kzGItkWCHA7Z03t5",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#hot-leads",
          "mode": "name"
        },
        "messageType": "attachment",
        "attachments": [
          {
            "fallback": "=🚨 *HOT LEAD ALERT — act fast*",
            "text": "=💡 *Reasoning:* {{ $json.output.reasoning }}\n🕒 *Submitted:* {{ $('Edit Fields').item.json.SubmittedAt }}",
            "title": "=🔥 HOT LEAD — {{ $('Edit Fields').item.json.Company }}",
            "title_link": "https://airtable.com/appAsanJ0KEArFSRO",
            "color": "#E01E5A",
            "footer": "Synced to Airtable",
            "author_name": "Lead Scoring Agent",
            "ts": "={{ Math.floor(Date.now() / 1000) }}"
          }
        ],
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        -928,
        -256
      ],
      "id": "1adbcfd4-3f48-4894-8dfb-38dc0e88aa66",
      "name": "Send a message",
      "webhookId": "145c39cc-c421-4369-b811-c274a6c8526e",
      "credentials": {
        "slackApi": {
          "id": "uaHKGU69Lsxib4HU",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "your-sales-inbox@example.com",
        "subject": "=🚨 HOT LEAD ALERT: {{ $('Edit Fields').item.json.Name }} at {{ $('Edit Fields').item.json.Company }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 480px; margin: 0 auto; border: 1px solid #e5e5e5; border-radius: 10px; border-left: 4px solid #D32F2F; overflow: hidden; background: #ffffff;\">\n  <div style=\"padding: 14px 18px; border-bottom: 1px solid #f0f0f0;\">\n    <span style=\"font-size: 13px; font-weight: 700; color: #D32F2F; letter-spacing: 0.3px;\">🔥 HOT LEAD</span>\n  </div>\n  <div style=\"padding: 16px 18px;\">\n    <table style=\"width: 100%; border-collapse: collapse; font-size: 14px; color: #333;\">\n      <tr><td style=\"padding: 4px 0; color: #888; width: 90px;\">Name</td><td style=\"padding: 4px 0; font-weight: 600;\">{{ $('Edit Fields').item.json.Name }}</td></tr>\n      <tr><td style=\"padding: 4px 0; color: #888;\">Company</td><td style=\"padding: 4px 0; font-weight: 600;\">{{ $('Edit Fields').item.json.Company }}</td></tr>\n      <tr><td style=\"padding: 4px 0; color: #888;\">Email</td><td style=\"padding: 4px 0;\"><a href=\"mailto:{{ $('Edit Fields').item.json.Email }}\" style=\"color:#D32F2F; text-decoration:none;\">{{ $('Edit Fields').item.json.Email }}</a></td></tr>\n      <tr><td style=\"padding: 4px 0; color: #888;\">Score</td><td style=\"padding: 4px 0; font-weight: 700;\">{{ $('AI Agent').item.json.output.score }}/100</td></tr>\n      <tr><td style=\"padding: 4px 0; color: #888;\">Submitted</td><td style=\"padding: 4px 0;\">{{ $('Edit Fields').item.json.SubmittedAt }}</td></tr>\n    </table>\n    <p style=\"margin: 14px 0 0; font-size: 13px; color: #555; line-height: 1.5;\"><strong>Reasoning:</strong> {{ $('AI Agent').item.json.output.reasoning }}</p>\n  </div>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -928,
        -416
      ],
      "id": "4963bbcd-bbcd-4a5e-b00b-d591ccd3373f",
      "name": "Send a message1",
      "webhookId": "8b725eed-13b2-4bd2-baeb-11d00d60d41c",
      "credentials": {
        "gmailOAuth2": {
          "id": "tAvySDMmigsq4zOQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {
          "maxTokens": 2000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1648,
        80
      ],
      "id": "d3d5419a-7fa3-4b1e-a6cb-b2a9bc7dee34",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "h6RFFIUwn7tjr9JF",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google search in SerpApi": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "B4NE1ZDR8i6Pq96Q",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "a335a92d-9133-4e0b-bfec-8247bd25adc7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ee2228831ddbf45184e22febf3161d7ae502c8e4df2f9f580aac93f67ad6acd5"
  },
  "nodeGroups": [],
  "id": "pfmS2bzqOUWdfMcm",
  "tags": []
}